<div class="container row">
    <div>
        <form action="{{home}}/{{collection}}/add" method="post">
            <div class="input-group mt-2 mb-2">
                <span class="input-group-text">Payer</span>
                <input name="payer" type="text" class="form-control" placeholder="name" aria-label="payer">
            </div>

            <div class="input-group	mb-2">
                <span class="input-group-text">Amount</span>
                <input name="amount" type="text" class="form-control" placeholder="use `.` as delimiter" aria-label="amount">
            </div>

            <div class="input-group mb-2">
                <span class="input-group-text">Category</span>
                <input name="category" type="text" class="form-control" placeholder="category" aria-label="category">
            </div>

            <div class="input-group	mb-2">
                <span class="input-group-text">Sharers</span>
                <input name="sharers" type="text" class="form-control" placeholder="use `space` as delimiter" aria-label="Sharers">
            </div>

            <div class="input-group	mb-2">
                <button type="submit" class="btn btn-primary">Add record</button>
            </div>
        </form>
    </div>
</div>


<div class="container">
    <table class="table text-center align-middle">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">payer</th>
                <th scope="col">amount</th>
                <th scope="col">category</th>
                <th scope="col">sharers</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for num, rec in records %}
            <tr>
                <th scope="row">{{num}}</th>
                <td>{{rec.get('payer', '')}}</td>
                <td>{{rec.get('amount', '')}}</td>
                <td>{{rec.get('category', '')}}</td>
                <td>{{', '.join(rec.get('sharers', ''))}}</td>
                <td>
                    <form>
                        <button formaction="{{home}}/{{collection}}/remove" name="_id" value="{{rec.get('_id', '')}}" type="submit" class="btn btn-danger">x</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>