<tr>
    <td class="py-1"></td>
    <td class="py-1">
        <textarea name="purpose" class="form-control" rows="1" aria-label="Purpose"></textarea>
    </td>
    <td class="py-1">
        <input name="amount" class="form-control" type="number" min="0" step="0.01" aria-label="Amount">
    </td>
    <td class="py-1">
        <input name="sharers" class="form-select" aria-label="Sharers">
    </td>
</tr>