<div class="mt-3">
    <p>
        This service is designed as a concept.
        For any questions and suggestions, please <a href="mailto: fragarie@yandex.com">contact me</a>.
    </p>
    <p>Best regards, Peter Mirzoian</p>
</div>
